.thumb {
    width: 24px;
    height: 24px;
    float: none;
    position: relative;
    top: 7px;
}

form .progress {
    line-height: 15px;
}

.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}

/*progress > div는 자식 -> progress의 바로밑에 붙어있는 div녀석*/
/*progress div는 자손 -> progress의 아래에있는 모든 div*/
.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}